{% extends "layout.html" %}

{% block page_title %}
  Webchat Implementations
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Webchat Implementations</h1>

      <p>Third party implementations</p>
      <ul>
        <li><a href="/implementations/deskpro">DeskPro</a></li>
        <li><a href="/implementations/tawk">Tawk</a></li>
        <li><a href="/implementations/livechatinc">LiveChatInc</a></li>
        <li><a href="/implementations/intercom">Intercom</a></li>
      </ul>

      <hr />

      <p>Custom implementations, v1 (for the user research session on 28/07/2016)</p>
      <ul>
        <li><a href="/implementations/custom-v1">Custom Webchat, client interface, opens in page</a></li>
        <li><a href="#" class="js-trigger-custom-window-v1">Custom Webchat, client interface, opens in a new window</a></li>
        <li><a href="/agent-v1">Custom Webchat, agent interface, opens in page</a></li>
      </ul>

      <hr />

      <p>Custom implementations, v2 (for the user research session on 11/08/2016)</p>
      <ul>
        <li><a href="/implementations/custom-v2">Custom Webchat, client interface, opens in page</a></li>
        <li><a href="#" class="js-trigger-custom-window-v2">Custom Webchat, client interface, opens in a new window</a></li>
        <li><a href="/agent-v2">Custom Webchat, agent interface, opens in page</a></li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
